html{background-color: #CB997E;
}
section{
    display: flex;
    flex-direction: row;
}
h1{text-align: center;
color: #FFE8D6;}

a{color: #6B705C;}
a:visited{color: #6B705C;}
a:hover{color: #FFE8D6;}
#UF1{order: 1;}
#UF2{order: 2;}
#Recursos{order: 3;
    padding-left: 30px;
    list-style: none;
}